#page-404{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 500px;
    color: #B0BEC5;
    display: table;
    font-weight: 100;
    font-family: 'Lato';
}

#page-404 .container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

#page-404 .content {
    text-align: center;
    display: inline-block;
}

#page-404 .title {
    font-size: 72px;
    margin-bottom: 40px;
}