#sell-trip-plan>div{
    background-color: #ffffff;
    border: 1px solid #d9dbd9;
    height: 300px;
    padding: 30px;
}
#sell-trip-plan-img{
    background-image: url('../images/site/how it works.jpg');
    background-repeat: no-repeat;

    background-size: cover;
    background-position:50% 50%;
    text-align: center;
    height: 100%;
}
#sell-trip-plan a{
    width: 100%;
    max-width: 300px;
    text-align: center;
    background-color: #ff5a5f;
    display: block;
    padding: 5px 20px;
    color: #ffffff;
    font-size: 1.1em;
    margin: 20px auto 0 auto;

}
.pop-link-btn{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    background-color: #ffffff;
    display: inline-block;
    padding: 5px 20px;
    border: 1px solid #b3babc;
    color: #56585c;
}

.itit-price-box{
    float: left;
    padding: 1px 10px;
    position: relative;
    top: 110px;
    background-color: rgba(2, 1, 1, 0.60);
    color: #ffffff;
    font-size: 1.5em;
    /*font-weight: bolder;*/
    display: inline;
}
.itit-price-box sup{
    top: -0.5em;
    font-size: 50%;
}
.heart{
    color: #d9d9d9;
    font-size: 0.9em;
}


/*
.pop-header-buy-button{
    padding: 7px 10px;
    background-color: #0093de;
    color: #ffffff;
    font-size: 1em;
    /*font-weight: bolder;*/
   /* display: inline-block;
    float: left;
    width: 100%;

}
*/
.pop-style-dis-box{
    height: 250px;
    line-height: 250px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    text-align: center;
    /*background-image: url("../files/default_images/city/default.jpg");*/


}
.pop-style-dis-box h3{
    display: inline-block;
    color: #ffffff;
    /*font-weight: bold;*/
}

.pop-city-dis-box{
    height: 300px;
    line-height: 300px;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position:50% 50%;
    text-align: center;
    //background-image: url("../files/default_images/city/default.jpg");
    margin-bottom: 10px;
}
.pop-city-dis-box h3{
    display: inline-block;
    color: #ffffff;
    /*font-weight: bold;*/
}
.hp-search-btn{
    background-color: #0093de;
    color: #ffffff;
    width: 100px;
}

.hp-iti-header, .hp-style-header, .hp-dest-header{

    margin-bottom: 20px;
    color: #323232;
    font: normal 26px/31px FLight, "Helvetica Neue", Helvetica, sans-serif;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
}

.hp-style-block{
    width: 100%;
    background-color: #ffffff;
    padding: 40px 0 50px 0;
    margin-top: 30px;
    margin-bottom: 20px;
}
/*****************/
.searchbar>input{
    height: 50px;
    border-radius: 0;
}
#autocomplete{
    width: 600px;
    position: relative;
    left: 6px;
}
#header-search{
    line-height: normal;

    background-color: rgba(23,23,23,0.4);
    padding: 40px 0;
    position: relative;
    top: 318px;
}
#header-search>div{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}



/*

#header-search #autocomplete{
    position: relative;
    left: 1px;
    padding: 0 0 0 5px;
    width: 300px;
    border: 0;
    border-right: 1px solid #c4cdd2;
    border-left: 1px solid #c4cdd2;
    height: 50px;
}

#header-search #country_name{
    position: relative;
    left: -4px;
    border: 0;
    width: 150px;
    height: 50px;
}
#header-search input[type=submit]{
    width: 140px;
    position: relative;
    left: -10px;
    top: -1px;
    font-size: 0.9em;
    background-color: #ff5a5f;
    color: #ffffff;
    border: none;
    height: 50px;
}
.home-style-search{
    height: 50px;
    display: inline;
}
#header-search .btn-group{
    width: 160px;
    border: 0;
    height: inherit;
}
#header-search form button.multiselect{
     position: relative;
    left: 7px;
     top: -2px;
     border: 0;
     width: 100%;
     height: inherit;
    font-size: 16px;
    color: inherit;
 }*/
/********************************/


#header-img{
    height: 550px;
   /* line-height: 550px;
    text-align: center;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position:70% 1%;

    background-image: url("../images/site/homepage_header_image.jpg");
}

#header-img h1{
    position: relative;
    top: 35%;
    color: #ffffff;
    font-weight: 700;
    margin: 0;
    font-size: 48px;
}
#header-img h2{
    margin: 15px 0 0 0;
    position: relative;
    top: 35%;
    font-size: 2em;
    color: #ffffff;
}

#header-search-btn-mobile{
    display: none;

}

#how-it-works{
    padding: 20px 0;
}
#how-it-works>div{
    border: 1px solid #d9dbd9;
    padding: 40px 20px;
    height: 300px;
}
#how-it-works img{
    width: 64px;
}
.hiw-img-caption{
    margin: 20px 0 20px 0;
    font-size: 1.2em;
}
.hiw-img-desc{
    color: #999999;
}



@media (max-width: 992px){
    #sell-trip-plan-img{
        display: none;
    }
}
@media (max-width: 767px) {
    #sell-trip-plan>div{
        height: auto;
    }
    #header-search-btn-mobile {
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        position: relative;
        top: 35%;
        font-size: 0.9em;
        width: 60%;
        max-width: 300px;
    }

    #header-img {
        height: 350px;
        /*line-height: 400px;*/
    }

    #header-img h1 {
        font-size: 2em;
        padding: 0 10px;
    }

    #header-img h2 {
        font-size: 1.5em;
        padding: 0 10%;
    }
    #header-search {
        display: none;
    }

    .btn-group{
        display: block;
        width: 100%;
    }
    .btn-group{

        border: 0;
        height: inherit;
    }
    form button.multiselect{
        height: 34px;
        padding: 6px 5px 6px 14px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;

        position: inherit;
        left: 0px;
        top:  0px;
        width: 100%;
        text-align: left;
    }
}
@media (max-width: 400px){
    #howitworks-container{
        margin-top: 20px;
    }


}