
#nav-link-theme a{
    border: 2px solid #ff5a5f;
    padding: 5px 7px;
    margin-top: 8px;
    margin-bottom: 6px;
}
.mynav{
    background-color: #171717;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 0;
}

.mynav a{
    color: #ffffff;
}

.mynav .tps-brand{
    color: #ffffff;
    font-size: 1.4em;
    font-weight: 400;
}

.mynav .navbar-nav > li > a{
    color: #ffffff;
}

.mynav .navbar-nav > li > a:hover{
    color: #909090;
}

.tps-brand{
    max-width: 180px;
    line-height: 50px;
    vertical-align: middle;
}

#sticky-nav{
    margin-bottom: 0;
    background-color: transparent;
    border: none;
}
#sticky{
    z-index: 1000;
    background-color: #f4f4f4;
    box-shadow: 0 2px 5px grey;
    padding: 4px 0;

}
#days-nav>ul>li>a, #sticky-nav .navbar-brand{
    color: #393c3d;
}
#days-nav>ul>li.active{
    border-bottom: 3px solid #ff5a5f;
}
@media (max-width: 768px) {
    #nav-link-theme a{
        border: none;
        padding: 10px 15px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

@media (max-width: 480px){
    #days-nav>ul>li.active{
        margin-left: 5px;
        border-left: 3px solid #ff5a5f;
        border-bottom: none;
    }
}