

/*


.pv h1{
    display: inline-block;
    margin-right: 10px;
}

.pv table{
    margin-bottom: 0;
    text-align: left;
}


#pv-photo-block{
    margin-top: 40px;
}


#pv-footer-buy-block{
    width: 100%;
    text-align: center;
    padding: 40px 0;
}
#pv-footer-buy-block a{
    padding: 3px 15px;
    background-color: #26BED1;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: bolder;
}

.pv-day-feat-header>span{
    color: #26BED1;
    position: relative;
    top: 2px;
}

*/